.card__score--player, .card__score--dealer {
  color: white;
  font-size: 2.4rem; }

.card--front, .card--back {
  font-size: 3rem;
  width: 10rem;
  height: 15rem;
  margin: 0.5rem;
  border-radius: 0.8rem; }

.chip--1, .chip--10, .chip--100, .chip--500 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10rem;
  height: 10rem;
  margin: 1rem;
  background: rgba(0, 0, 0, 0.3);
  font-size: 3rem;
  border-radius: 50%;
  box-shadow: 0.4rem 0.4rem rgba(0, 0, 0, 0.3); }

.container {
  height: 100vh;
  display: grid;
  grid-template-columns: 20% 1fr 1fr 20%;
  grid-template-rows: 80px 1fr 3fr 1fr 1fr;
  grid-template-areas: "nav          nav             nav             nav" ".            text__container text__container ." "chips-board  cards-player    cards-dealer    ." "chips-player button          button          ." "chips-player score-player    .               ."; }

nav {
  grid-area: nav; }

.text__container {
  grid-area: text__container; }

.chip__container--board {
  grid-area: chips-board; }

.card__container--player {
  grid-area: cards-player; }

.card__container--dealer {
  grid-area: cards-dealer; }

.chip__container--player {
  display: grid;
  grid-area: chips-player;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  justify-self: normal; }

.button__container {
  grid-area: button;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(75px, 1fr));
  justify-items: center;
  align-items: center; }

.score__container {
  grid-area: score-player; }
  .score__container .player__score {
    font-size: 3rem;
    color: #F4F4F4;
    margin: 2rem; }

@media (max-width: 600px) {
  .container {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 60px 3fr 1fr 1fr 3fr 1fr;
    grid-template-areas: "nav             nav             nav             nav" ".               cards-dealer    cards-dealer    ." "text__container text__container text__container text__container" "chips-board     button          button          ." "score-player    cards-player    cards-player    ." "chips-player    chips-player    chips-player    chips-player"; }
  .chip__container--player {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr; } }

html {
  font-size: 10px;
  box-sizing: border-box;
  text-shadow: 0 2px 0 rgba(0, 0, 0, 0.07);
  color: #333333; }

body {
  margin: 0; }

*,
*:before,
*:after {
  box-sizing: inherit; }

.container {
  background: #438f2c; }

nav {
  background: #272727; }
  nav h2 {
    text-align: center;
    color: #F4F4F4;
    font-size: 2.4rem; }

.text__container {
  text-align: center; }
  .text__container h1 {
    font-size: 4rem; }

.card--front {
  background: #F4F4F4; }

.card--back {
  background: #7474bd; }

.color--red {
  color: orangered; }

.color--black {
  color: #333333; }

.chip__pot {
  position: relative; }

.chip__score {
  font-size: 3rem; }

.chip--pot {
  position: absolute; }

.chip--1 {
  background: whitesmoke; }

.chip--10 {
  background: lightblue; }

.chip--100 {
  background: greenyellow; }

.chip--500 {
  background: goldenrod; }

.disabled {
  display: none; }

.button__container button {
  background-color: #272727;
  border: none;
  width: 120px;
  color: #F4F4F4;
  padding: 1.5rem 3rem;
  text-align: center;
  text-decoration: none;
  font-size: 1.6rem;
  border-radius: .2rem; }

@media (max-width: 600px) {
  .card {
    width: 8rem;
    height: 12rem; }
  .chip {
    width: 20vw;
    height: 20vw; }
  .button__container button {
    padding: 1rem 2rem;
    width: 100px; } }
