@import "helper/placeholders";
@import "helper/mixins";
@import "helper/variables";
@import "layout/grid";
@import "layout/default";

//Board
.container {
  background: $color-board;
}

nav {
  background: $color-nav;

  h2 {
    text-align: center;
    color: $color-white;
    font-size: 2.4rem;
  }
}

.text__container {
  text-align: center;

  h1 {
    font-size: 4rem;
  }
}

//Cards
.card {
  width: 10rem;
  height: 15rem;
  margin: 0.5rem;
  background: $color-white;
  border-radius: 0.8rem;
}

.card__container--dealer {
  // margin-top: 5rem;
}


  //Chips
.chip--score {
  font-size: 3rem;
}

.chip--player, .chip--pot {
  @extend %chip;
}

.chip__container--player {

}

.chip__container--dealer {

}

//Buttons
.button__container{



  button {
    background-color: $color-nav;
    border: none;
    width: 120px;
    color: $color-white;
    padding: 1.5rem 3rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.6rem;
    border-radius: .2rem;
  }
}



//Mobile
@media(max-width: 600px){
  //Cards
  .card {
    width: 8rem;
    height: 12rem;
  }

  .chip {
    width: 20vw;
    height: 20vw;
  }


  //Buttons
  .button__container {

    button {
      padding: 1rem 2rem;
      width: 100px;
    }
  }
}