@import "helper/placeholders";
@import "helper/mixins";
@import "helper/variables";
@import "layout/grid";
@import "layout/default";

//Board
.container {
  background: $color-board;
}

nav {
  background: $color-nav;

  h2 {
    text-align: center;
    color: $color-white;
    font-size: 2.4rem;
  }
}

.text__container {
  text-align: center;

  h1 {
    font-size: 4rem;
  }
}

//Cards
.card__score--player, .card__score--dealer {
  @extend %card__score;
}

.card--front {
  @extend %card__shape;
  background: $color-white;
}

.card--back {
  @extend %card__shape;
  background: rgb(116, 116, 189);
}

.card__container--dealer {
  // margin-top: 5rem;
}

.color--red {
  color: $color-red;
}

.color--black {
  color: $color-black;
}

  //Chips
.chip__pot {
  position: relative;
}

.chip__score {
  font-size: 3rem;
}

.chip--pot {
  position: absolute;
}

.chip--1, .chip--10, .chip--100, .chip--500 {
  @extend %chip;
}

.chip--1 {
  background: whitesmoke;
}

.chip--10 {
  background: lightblue;
}

.chip--100 {
  background: greenyellow;
}

.chip--500 {
  background: goldenrod;
}

.disabled {
  display: none;
}


.chip__container--player {

}

.chip__container--dealer {

}

//Buttons
.button__container{



  button {
    background-color: $color-nav;
    border: none;
    width: 120px;
    color: $color-white;
    padding: 1.5rem 3rem;
    text-align: center;
    text-decoration: none;
    // display: inline-block;
    font-size: 1.6rem;
    border-radius: .2rem;
  }
}



//Mobile
@media(max-width: 600px){
  //Cards
  .card {
    width: 8rem;
    height: 12rem;
  }

  .chip {
    width: 20vw;
    height: 20vw;
  }


  //Buttons
  .button__container {

    button {
      padding: 1rem 2rem;
      width: 100px;
    }
  }
}