%card__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
}

%chip {
  width: 10rem;
  height: 10rem;
  margin: 1rem;
  background: rgba(0, 0, 0, 0.3);
  font-size: 3rem;
  // color: $color-white;
}